TZ=Europe/Berlin

LANGUAGE_SKILL_CHECKED_FLAG_ID=
ACTION_AFTER_MINUTES=2
GRACE_PERIOD_MINUTES=1
MAX_QUESTION_CHANGES=1
OTHER_QUESTION_KEYWORD=Unverständlich

QUESTION_MESSAGE=Beantworte die folgende Frage im Team-Chat (grün): {word_description} (Eine andere Frage anfordern mit Chat-Nachricht: "{other_question_keyword}")
PUNISH_MESSAGE=Letzte Chance die folgende Frage im Team-Chat (grün) zu beantworten: {word_description} (Eine andere Frage anfordern mit Chat-Nachricht: "{other_question_keyword}")
KICK_MESSAGE=This server is intended exclusively for German speakers, as voice communication is an essential part of our community. Dieser Server richtet sich ausschließlich an deutschsprachige Personen, da die Sprachkommunikation ein zentraler Bestandteil ist. Bitte beantworte die Verifizierungsfrage im Chat, um Zugang zu erhalten.

CRCON_1_API_BASE_URL=https://admin.0.domain.tld/api
CRCON_1_API_KEY=5c7817c1-eb54-4e05-a548-968d46aca1e0
