TZ=Europe/Berlin

LANGUAGE_SKILL_CHECKED_FLAG_ID=

CRCON_1_API_BASE_URL=https://admin.0.domain.tld/api
CRCON_1_API_KEY=5c7817c1-eb54-4e05-a548-968d46aca1e0


ACTION_AFTER_MINUTES=2
GRACE_PERIOD_MINUTES=1
MAX_QUESTION_CHANGES=1

QUESTION_MESSAGE=Nenne die Bezeichnung für die folgende Sache im Team-Chat (grün):\n\n{word_description}
PUNISH_MESSAGE=Letzte Chance die Bezeichnung der folgende Sache im Team-Chat (grün) zu benennen:\n\n{word_description}
CHANGE_QUESTION_MESSAGE=Oder eine andere Frage anfordern mit Chat-Nachricht:\n\n{change_question_keyword}
CHANGE_QUESTION_KEYWORD=Neue Frage
KICK_MESSAGE=This server is intended exclusively for German speakers, as voice communication is an essential part of our community.\n\nDieser Server richtet sich ausschließlich an deutschsprachige Personen, da die Sprachkommunikation ein zentraler Bestandteil ist.\n\nBitte beantworte die Verifizierungsfrage im Chat, um Zugang zu erhalten.
